.about-title{
  margin-top: 150px;
  white-space: nowrap;
}

.about-desc{
  padding-left: 20%;
  padding-right: 20%;
}

.about-img{
  z-index: -1;
  position: absolute;
  top:70px;
  width: 100vw;
  filter: blur(1.2px);
  max-width: 1920px;
  max-height: 740px;
  height: 45vw;
}
.contact-btn {
  transform: scale(0.7);
  max-height: 100px;
  min-height: 100px;
  max-width: 100px;
  min-width: 100px;
  border-radius: 50% !important;
}
.contact-btn-fill {
  max-height: 100px;
  min-height: 100px;
  max-width: 100px;
  min-width: 100px;
  border-radius: 50% !important;
}