.footer-bg{
  margin-top: 400px;
  background-color: rgb(105, 159, 206);
  height: auto;
  color: white;
  padding: 20px;
  font-size: 1vw;
}
@media(pointer:coarse){
  .footer-bg{
    font-size: 3vw;
  }
}
.footer-container{
  padding: 3%;
  display: flex;
  justify-content: space-evenly;
}
.watermarktext{
  font-size: 0.7vw !important;
}