.center-text{
  display:block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.full-w-container{
  width: 100%;
}
.mtg{
  margin-top: 150px;
}
.px-r20{
  padding-right: 14vw;
  padding-left: 14vw;
}
.static-img{
  min-width: 100%;
  max-width: 100%;
}