.home-img{
    z-index: -1;
    position: absolute;
    top: 71px;
    width: 100vw;
    filter: blur(0px);
    max-width: 1920px;
    max-height: 740px;
    height: 45vw;
}

.home-imgcontainer{
    height: 42vw;
    max-height: 580px;
    margin-bottom: 10px;
}
@media(max-width: 503.5px) {
    .home-imgcontainer{
        height: 45vw;
    }
}

.home-imgtxt{
    margin-top: 15vw;
    filter: blur(0px);
    font-family: 'Caveat', cursive;
}
@media(max-width: 503.5px) {
    .home-imgtxt{
        margin-top: 70px;
    }
}

.home-imgdesc{
    display: inline;
    font-size: 2vw;
}

@media(max-width: 700px) {
    .home-imgdesc{
        display: none;
    }
}
.home-imgtitle{
    font-size: 5vw;
}
@media (pointer:coarse) {
    .home-imgtitle{
        font-size: 30px;
    }
}

.seperate{
    margin-top: 10vw;
}
@media (min-width: 1981px) {
    .seperate{
        margin-top: 20vw;
    }
}
.home-breadtxt{
    max-width: 40vw;
}
.x-center{
    margin-left: auto;
    margin-right: auto;
}
.square{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 20px;

    height: 240px;
    width: 60vw;
    outline-style: solid;
    outline-width: 2px;
}

.font-strong{
    font-family: 'Fjalla One', sans-serif;
}
.txt-darkgray{
    color: rgb(71, 71, 71);
}

.font-handwritten{
    font-family: 'Caveat', cursive;
}

.post{
    background-color: rgb(37, 37, 37);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
}

.card{
    margin-top: 40px;
    background-color: rgb(230, 230, 230);
    color: black;
    width: 60vw;
    height: 20vh;
    max-width: 500px;
    min-width: 200px;
    min-height: 100px;
    margin-top: 50px;
    border-radius: 7px;
}

.responsive-img{
    width: 30vw;
    height: 20vh;
    min-height: 100px;
    border-radius: 7px;
    transform:translate(-1px,0);
}
.responsive-text{
    font-size: 2.5vh;
}
@media(max-width:690px){
    .responsive-text{
        font-size: 2vh;
    }
}
.post-title{
    position: absolute;
    color: rgb(255, 255, 255);
}