.bg-layercover{
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgb(225, 225, 225);
  z-index: 20;
  opacity: 0.92;
}

.btn-container{
  margin-top: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (pointer:coarse) {
  .btn-container{
    margin-top: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.navmenu-btn{
  margin-left: auto;
  margin-right: auto;
  font-family: 'Fjalla One', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 200%;
  cursor: pointer;
}
.navmenu-btn:hover{
  color: rgb(255, 255, 255);
}